<html>
<h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>

<h1><%= @game.player_2.name %>'s HP: <%= @game.player_2.hp %></h1>
<form action='/attacking' method='post'>
<input type="submit" value="Attack">
</form>
</html>
